<header class="flex bg-[#FAFAFA] w-full py-3 px-6">
  <div class="flex items-center gap-2">
    <img class="w-5" src="images/icon-logo.svg" alt="Logo" />
    <h1 class="font-bold">GoTask</h1>
  </div>

  <nav class="flex gap-6 ml-auto">
    <button class="bg-white rounded-xl p-2">
      <img class="w-5" src="images/icon-notification.svg" alt="Notification" />
    </button>

    <div class="flex items-center gap-3">
      <img class="w-7" src="images/icon-user-avatar.svg" alt="User Avatar" />

      <span class="font-bold">Jennie K.</span>

      <button class="w-3">
        <img class="w-3" src="images/icon-sign-out.svg" alt="Sign Out" />
      </button>
    </div>
  </nav>
</header>
