<div class="bg-white rounded-xl max-h-500 overflow-scroll scrollbar-hidden">
  <div class="flex gap-1 p-4">
    <img src="images/icon-task-star.svg" />

    <h1 class="font-semibold text-lg">Comentar tarefa</h1>

    <img
      class="ml-auto cursor-pointer"
      src="images/icon-close.svg"
      (click)="onCloseModal()"
    />
  </div>

  <div class="border-t border-[#D1D5DB] p-4">
    <h1 class="font-semibold text-lg mb-4">{{ _task.name }}</h1>

    <p class="font-semibold text-sm mb-2">Descrição</p>

    <p class="font-normal text-base text-[#374151]">
      {{ _task.description }}
    </p>
  </div>

  <div class="p-4">
    <div class="flex flex-col gap-5 bg-[#F3F4F6] rounded-xl p-5">
      <div>
        <p class="font-bold text-sm">Comentários</p>
      </div>

      <div class="flex items-start gap-2">
        <div class="flex flex-col w-full">
          <input
            #commentInput
            class="flex-1 font-light text-sm bg-white border border-[#D1D5DB] rounded-lg p-3"
            type="text"
            placeholder="Adicione um comentário"
            [formControl]="commentControl"
          />
        </div>

        <button
          class="{{
            `rounded-xl font-semibold text-sm text-white py-3 px-4 cursor-pointer
            ${ commentControl.invalid
              ? 'bg-[#D7D8D8]'
              : 'bg-[#2A89EF] active:translate-y-1 transition-transform duration-75 shadow-md shadow-blue-500/50'
            }`
          }}"
          [disabled]="commentControl.invalid"
          (click)="onAddComment()"
        >
          Adicionar
        </button>
      </div>

      <div
        class="flex flex-col gap-5 max-h-44 overflow-scroll scrollbar-hidden"
      >
        @for (comment of _task.comments; track comment.id; let last = $last) {
          <!-- Comentário -->
          <div
            class="{{ `flex flex-col gap-3 ${ !last ? 'border-b border-[#D1D5DB]' : '' }` }}"
          >
            <div>
              <p class="font-light text-sm text-[#374151]">
                {{ comment.description }}
              </p>
            </div>

            <div class="{{ `flex gap-4 ${ !last ? 'mb-3' : '' }` }}">
              <p class="font-normal text-xs text-[#9CA3AF]">
                Comentado há 10 min atrás
              </p>

              <p
                class="font-semibold text-xs underline underline-offset-2 cursor-pointer"
                (click)="onRemoveModal(comment.id)"
              >
                Apagar
              </p>
            </div>
          </div>
          <!-- End Comentário -->
        }
      </div>
    </div>
  </div>
</div>
