<div class="flex flex-col gap-3 bg-[#FAFAFA] rounded-xl p-3 cursor-grab">
  <div class="flex gap-1">
    <p class="font-bold">Minha nova tarefa</p>

    <img
      class="self-start cursor-pointer ml-auto"
      src="images/icon-delete.svg"
      alt="Delete task"
    />
  </div>

  <p class="font-light text-sm">
    Essa é a minha tarefa para criar uma aplicação Angular...
  </p>

  <div class="flex items-center gap-1">
    <img src="images/icon-comments.svg" />

    <p
      class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer"
    >
      2 comentários
    </p>

    <p
      class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer ml-auto"
    >
      Editar
    </p>
  </div>
</div>
